html, body {
    background-color: white;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

.navbar {
    -webkit-box-shadow: 0 0 .2em .2em rgba( 0, 0, 0, 0.45 );
    -moz-box-shadow: 0 0 .2em .2em rgba( 0, 0, 0, 0.45 );
    box-shadow: 0 0 .2em .2em rgba( 0, 0, 0, 0.45 );
}

.navbar h1 {
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 20px;
    line-height: 40px;
}
.navbar img {
    margin: 3px 10px 4px 0;
}

.navbar .brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar .brand, 
.navbar .nav > li > a {
    color: #999;
    opacity: 1;
    transition: color .25s ease-in-out, background 0.5s ease-in-out;
    -moz-transition: color .25s ease-in-out, background 0.5s ease-in-out;
    -webkit-transition: color .25s ease-in-out, background 0.5s ease-in-out;
}

#wrapper {
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 30px 20px 10px 20px;

    background-color: white;
}
